@import './variaveis.scss';

.container-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;

  .container-navegacao {
    width: 100%;

    ul {
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style-type: none;

      li {
        cursor: pointer;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
    .container-navegacao {
      display: none;
    }
  }
}
