$fontRegular: 'Biennale Regular';
$fontLight: 'Biennale Light';
$fontBold: 'Biennale Bold';

$corPrimaria: #5e49ff;
$corPrimaria3: #25cbd3;
$corPrimaria4: #f0f5ff;

$cinza: #fafafa;
$cinza1: #dadada;
$cinza2: #7c7786;
$cinza3: #4d4c4d;
$cinza4: #333333;
$cinza5: #e5e5e5;

$erro: #ca1818;

$desktopBreakpoint: 992px;
